@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

.align-center {
    align-self: center;
}

// Hide hero image on mobile devices
.hero-figure {
    display: none;
}

// Give hero module padding for mobile
.hero-content {
    padding-bottom: 45px;
}

// Logo styling for mobile devices

.site-header .brand h1 {
    background-color: #eceded;
    border-radius: 25px;
    position: relative;
    top: -22px;
    width: 230px;
    left: -47px;
    a {
        // Header logo alterations
        width: 160px;
        height: 80px;
        display: flex;
        align-items: center;
        position: relative;
        top: 14px;
        left: 34px;
        pointer-events: none; // TODO: Remove this when you have a properly sized logo
    }
}

// Feature tiles remove background color
.tiles-item-inner .features-tiles-item-image {
    background-color: initial;
}

// Adding border radius to input fields

.hero input.form-input {
    background-color: #eceded;
    border-width: 2px;
    border-style: solid;
    border-color: #2d7779;
}

input.form-input {
    border-radius: 15px;
}

.cta input.form-input {
    border-radius: 15px;
}

.hero-inner .hero-content .split-item {
    display: flex;
}

.hero-background-image {
    position: absolute;
    img {
        position: relative;
        left: -300px;
        top: 50px;
        filter: saturate(1) opacity(0.15);
        width: 500px;
        z-index: -1;
    }
}

.hero.section:before {
    // Diagonal Hero
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #4da5a8;
    -webkit-clip-path: polygon(0 0, 5760px 0, 5760px calc(100% - 352px), 0 100%);
    clip-path: polygon(0 0, 5760px 0, 5760px calc(100% - 352px), 0 100%);
    z-index: -3;
}

.illustration-section-01::after {
    filter: grayscale(1) brightness(0) invert(1) opacity(0.5);
}
// Limiting width of app image
.split-wrap .split-item .split-item-image.split-item-image-fill img {
    width: 50%;
}
// Change decorative element from light to dark
.illustration-section-02::after {
    display: none;
    filter: invert(1);
}
// Footer logo alterations
.site-footer .brand .m-0 a {
    width: 160px;
    height: 80px;
    pointer-events: none; // TODO: Remove this when you have a properly sized logo
    img {
        object-fit: cover;
        height: 80px;
    }
}
// Coloring CTA
.cta .cta-inner {
    background-color: #113d69;
}

// Coloring Footer
.site-footer::before {
    background-color: #dedede;
}
// Footer shadow
footer.site-footer.center-content-mobile:after {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    height: 2px;
    width: 100%;
    background: radial-gradient(circle, rgba(36, 35, 37, 0.29) 0%, rgba(14, 14, 17, 0) 80%);
}

footer.site-footer.center-content-mobile {
    z-index: 10;
}

@media (min-width: 641px) {
    .features-split-inner .split-wrap .split-item {
        flex-direction: column;
    }
    .split-wrap .split-item .split-item-image.split-item-image-fill img {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 80px;
    }
    .site-header .brand {
        .m-0 a {
            width: 256px;
            height: 115px;
            top: 24px;
        }
        h1 {
            top: -7px;
            left: -47px;
            width: 300px;
        }
    }
}

@media (min-width: 768px) {
    .hero-figure {
        display: block;
    }
    .site-header .brand {
        .m-0 a {
            top: 20px;
            left: 20px;
        }
        h1 {
            top: -7px;
            left: 0px;
        }
    }
}

@media (min-width: 821px) {
    .container .split-wrap .split-item .split-item-image {
        min-width: 300px;
        max-width: 300px;
        // margin-bottom: -110px;
        margin-right: 5%;
        margin-left: auto;
    }
    .split-wrap .split-item .split-item-image.split-item-image-fill img {
        width: initial;
        margin-left: initial;
        margin-right: initial;
        margin-bottom: initial;
    }

    .container .split-wrap .split-item .split-item-content {
        width: 390px;
    }

    .features-split-inner .split-wrap .split-item {
        flex-direction: row;
    }
}

@media (min-width: 1128px) {
    .container .split-wrap .split-item .split-item-content {
        width: 488px;
    }
}

@media (min-width: 1442px) {
    .hero-figure img {
        width: 674px;
        padding-bottom: 10px;
        max-width: 674px;
        margin-left: -300px;
        position: relative;
        bottom: 60px;
        left: 300px;
    }
}
