@import "_mixin";

.explanation-container-outer {
  display: flex;
  height: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.explanation-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 80%;
  h1 {
    font-weight: 700 !important;
    color: #153e69 !important;
  }
  h2 {
    color: #555b5c !important;
    font-family: "Roboto" !important;
    font-size: 14px !important;
    font-weight: 400 !important;
  }
}
.explanation-video {
  border-radius: 20px 20px 20px 20px;
  width: 350px;
  height: 200px;
}

.explanation-content-container {
  display: flex;
  margin-top: 20px;
  width: 100%;
  justify-content: center;
}
.youtube-thumbnial-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.youtube-icon {
  position: absolute;
  transform: translateX(125px) translateY(100px - 31px);
}

.iPhone-diagram {
  order: 1;
  width: 150px;
  height: 300px;
  margin-right: 5%;
}

.modal-content {
  align-content: center !important;
  justify-content: center !important;
  transform: translateX(-30px);
}

.features-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  h1{
    font-family: "Comfortaa", cursive !important;
    font-size: 14px !important;
    color: #555B5C !important;
  }
  h2{
    font-family: "Roboto" !important;
    font-size: 10px !important;
    color: #555B5C !important; 
  }
}
.features-group {
  order: 2; 
  width: 50%;
  align-items: center;
  justify-content: center;
  margin-left: -3%;
  .feature-text{
    display: flex;
    flex-direction: column;
  }  
  .feature-image{
    width: 48.7px;
    height: 48.7px;
  }
  .feature-1 {
    display: flex;
    align-items: center;
    margin-bottom: 5%;
  }
  .feature-2 {
    display: flex;
    align-items: center;
    margin-bottom: 5%;
  }
  .feature-3 {
    display: flex;
    align-items: center;
    margin-bottom: 5%;
  }
}
.feature-3-separate {
  display: none;
}

@media screen and (min-width: 768px) {
  .explanation-container-outer {
    margin-top: 50px;
    height: 500px;
  }
  .explanation-text-container {
    h2 {
      width: 50%;
      font-size: 25px !important;
    }
  }  

  .features-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    h1{
      font-family: "Comfortaa", cursive !important;
      font-size: 20px !important;
      color: #555B5C !important;
    }
    h2{
      font-family: "Roboto" !important;
      font-size: 15px !important;
      color: #555B5C !important; 
    }
  }
}

@media screen and (min-width: 1315px) {
  .explanation-video {
    width: 800px;
    height: 500px;
  }
  .youtube-icon {
    transform: translateX(400px - 44px) translateY(250px - 31px);
  }

  .explanation-container-outer {
    margin-bottom: 50px;
  }
  .explanation-content-container{
    display: flex;
    justify-content: center
  }

  .features-container {
    display: flex;
    justify-content: center;
    h1{
      font-family: "Comfortaa", cursive !important;
      font-size: 25px !important;
    }
    h2{
      font-family: "Roboto" !important;
      font-size: 16px !important;
    }
  }

  .iPhone-diagram {
    width: 400px;
    height: 800px;
    margin: 5%;
    order: 2;
  }

  .features-group {
    display: flex;
    order: 1;
    width: 33.33%;
    margin-left: 10%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .feature-image{
      width: 130px;
      height: 130px;
    }
    .feature-1 {
      margin-bottom: 200px;
    }
    .feature-2 {
      margin-bottom: 0;
    }
    .feature-3 {
      display: none;
    }
  }
  .feature-3-separate {
    display: flex;
    align-items: center;
    order: 3;
    width: 33.33%;
    margin-top: -4%;
    margin-bottom: 0;
    margin-right: 10%;
    .feature-image{
      width: 130px;
      height: 130px;
    }
  }
}
