@import "_mixin";

.hero-container-outer {
  background-color: #29b1ad;
  height: 700px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 80px;
}

.hero-container-text {
  opacity: 0;
  display: flex;
  flex: 2;
  order: 2;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin-top: -10;
  -webkit-animation: fadein 2s 1s ease-in forwards;
  -moz-animation: fadein 2s 1s ease-in forwards;
  -ms-animation: fadein 2s 1s ease-in forwards;
  -o-animation: fadein 2s 1s ease-in forwards;
  animation: fadein 2s 1s ease-in forwards;
  h1 {
    font-family: "Comfortaa", cursive !important;
    font-size: 25px !important;
    font-weight: 700 !important;
    color: white !important;
    margin-right: 5%;
  }

  h2 {
    font-family: "Roboto" !important;
    font-size: 15px !important;
    font-weight: 400 !important;
    color: white;
    margin-right: 20%;
  }
}

.hero-container-image {
  opacity: 0;
  display: flex;
  flex: 1;
  order: 1;
  align-self: center;
  justify-content: center;
  align-content: center;
  margin-top: 5%;
  height: 95%;
  margin-bottom: 10%;
  -webkit-animation: fadein 2s ease-in forwards;
  -moz-animation: fadein 2s ease-in forwards;
  -ms-animation: fadein 2s ease-in forwards;
  -o-animation: fadein 2s ease-in forwards;
  animation: fadein 2s ease-in forwards;
}
.hero-image-background {
  border-radius: 50%;
  height: 20em;
  width: 20em;
  box-shadow: 5px 15px 24px -15px #000000;
  background-color: #ef7432;
}

.hero-image {
  position: absolute;
  border-radius: 50%;
  height: 19em;
  width: 19em;
  transform: translateY(8px);
}

.hero-request {
  opacity: 0;
  position: absolute;
  width: 360px;
  height: 140px;
  transform: translateY(260px);
  -webkit-animation: fadein 2s 0.5s ease-in forwards;
  -moz-animation: fadein 2s 0.5s ease-in forwards;
  -ms-animation: fadein 2s 0.5s ease-in forwards;
  -o-animation: fadein 2s 0.5s ease-in forwards;
  animation: fadein 2s 0.5s ease-in forwards;
}

.right-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  order: 2;
  margin-bottom: 5%;
}

.buttons {
  opacity: 0;
  display: flex;
  flex-direction: column;
  order: 3;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  -webkit-animation: fadein 2s 1.5s ease-in forwards;
  -moz-animation: fadein 2s 1.5s ease-in forwards;
  -ms-animation: fadein 2s 1.5s ease-in forwards;
  -o-animation: fadein 2s 1.5s ease-in forwards;
  animation: fadein 2s 1.5s ease-in forwards;
  h3 {
    font-size: 15px;
    font-family: "Roboto";
    color: white;
  }
}
.inner-buttons{
  display: flex;
  flex-direction: row;
}
.btn {
  background: none !important;
  border: none !important;
}

@media screen and (min-width: 500px) {
  .hero-container-text {
    h1 {
      font-family: "Comfortaa", cursive !important;
      font-size: 30px !important;
      color: white;
    }
    h2 {
      font-family: "Roboto" !important;
      font-size: 20px !important;
      font-weight: 400 !important;
      color: white;
    }
  }
  .buttons {
    display: flex;
    order: 3;
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 768px) {
  .hero-container-text {
    h1 {
      font-family: "Comfortaa", cursive !important;
      font-size: 45px !important;
      color: white;
    }
    h2 {
      font-family: "Roboto" !important;
      font-size: 25px !important;
      font-weight: 400 !important;
      color: white;
    }
  }
}

@media screen and (min-width: 1315px) {
  .hero-container-text {
    width: 100%;
    margin-bottom: -5%;
    h1 {
      font-size: 80px !important;
    }
    h2 {
      font-size: 25px !important;
    }
  }

  .hero-container-image {
    display: flex;
    flex: 1;
    order: 1;
    align-self: center;
    justify-content: center;
    margin-top: 0;
  }

  .hero-image {
    position: absolute;
    border-radius: 50%;
    height: 48em;
    width: 48em;
    transform: translateY(128px) translateX(-40px);
  }

  .hero-image-background {
    border-radius: 50%;
    height: 49em;
    width: 49em;
    box-shadow: 5px 15px 24px -15px #929292;
    background-color: #ef7432;
    transform: translateY(120px) translateX(-40px);
  }

  .hero-request {
    position: absolute;
    width: 810px;
    height: 280px;
    transform: translateY(670px) translateX(400px);
  }

  .hero-container-outer {
    background-color: #44b1ad;
    height: 600px;
    @include angle(after, 4deg);
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

  .buttons {
    display: flex;
    order: 3;
    justify-content: space-evenly;
    margin-left: 0;
    margin-right: 0;
  }
  .right-content {
    display: flex;
    flex-direction: column;
    order: 2;
    margin-bottom: 0;
    align-items: flex-start;
    margin-right: 10%;
    margin-bottom: 5%;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
