h1{
    font-family: "Comfortaa";
}

a{
    font-family: "Comfortaa";
    color: #4DA5A9;
}



@media only screen and (min-width: 768px){
    h1{
        font-family: "Comfortaa";
    }
    a{
        font-family: "Comfortaa";
        color: #4DA5A9;
    }

}