.team-members-container-outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 12%;
  margin-top: -5%;
}

.team-members-header {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  h1 {
    color: #555b5c !important;
    font-size: 25px !important;
  }
}

.team-members-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.upper,
.lower {
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    margin-bottom: 10%;
  }
  h1{
    font-family: "Comfortaa" !important;
    font-weight: 700 !important;
    font-size: 10px !important;
    color: #113E69 !important;
    text-align: center;
  }
  h2{
    font-family: "Roboto" !important;
    font-weight: 300 !important;
    font-size: 10px !important;
    text-align: center;
  }
}

.member-large{
  width: 130px;
  height: 130px;
}

.member-small{
  width: 90px;
  height: 90px;
}

[class^="members-large"]{
  margin: 5%;
}

[class^="members-small"]{
  margin: 5%;
}

@media screen and (min-width: 1315px) {
  .team-members-container-outer {
    margin-bottom: -10%;
  }

  .member-large{
    width: 300px;
    height: 300px;
  }
  
  .member-small{
    width: 275px;
    height: 275px;
  }
  
  [class^="members-large"]{
    margin: 50px;
  }
  
  [class^="members-small"]{
    margin: 50px;
  }
  .team-members-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .upper,
  .lower {
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      margin-bottom: 10%;
    }
    h1{
      font-family: "Comfortaa" !important;
      font-weight: 700 !important;
      font-size: 32px !important;
      color: #113E69 !important;
      text-align: center;
    }
    h2{
      font-family: "Roboto" !important;
      font-weight: 300 !important;
      font-size: 28px !important;
      text-align: center;
    }
  }
}
